.nav {
    grid-area: n;
    background-color: azure;
    padding: 20px;
}

.nav .ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav .ul .item {
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    background-color: gainsboro;
    border: 1px solid salmon;
}

.nav .ul .item a {
    padding: 5px;
    color: darkturquoise;
    text-decoration: none;
}

.nav .ul .item .active {
    color: red;
    border-right: 1px dotted black;
}
