.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: ;*/
    max-width: 1600px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: bisque;
}




